<h1> My Todos </h1>

<%= form_for Todo.new do |f| %>
    <div class="form-group">
        <%= f.text_field :description, placeholder: "What needs doing?" %>
    </div>
    <div class="form-group">
        <%= f.text_field :priority, placeholder: "Priority Level" %>
    </div>

    <div class="form-group">
        <%= f.submit %>
    </div>
<% end %>
<ul>
    <%= render @todos %>
</ul>